* {
  font-family: 'Roboto', sans-serif;
}

.top-main {
  float:right;
}

.main-header {
  font-size: 48px;
  font-weight: extra-bold;
}

.awesome {
  margin-left: 200px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.blue-top {
  background-color: #1F2937;
  color: white;
}

.white-mid {
  background-color: white;
  color: #1F2937;
  padding-top: 100px;
  padding-bottom: 100px;
}
.button-blue {
  background-color: #3882F6;
  border-radius: 8px;
  color: white;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.grey-mid {
  background-color: #e5e7eb;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #1F2937;
}

.bottom {
  background-color: #1F2937;
  color: white;
  text-align: center;
}